script(src='libs/jquery/jquery-3.1.0.min.js')
script(src='libs/jquery-ui-1.12.1.custom/jquery-ui.min.js')
script(src='libs/jquery-ui-1.12.1.custom/localization-ui.js')
script(src='https://cdn.jsdelivr.net/jquery.maskedinput/1.3.1/jquery.maskedinput.min.js')
script(src='libs/validation/jquery.form.min.js')
script(src='libs/validation/jquery.validate.js')
script(src='libs/validation/contact.form.js')
script(src='js/common.js')

