meta(charset='utf-8')
meta(name='viewport', content="minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no, initial-scale=1")
link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet")
link(href='libs/jquery-ui-1.12.1.custom/jquery-ui.structure.min.css', rel='stylesheet')
link(href='libs/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css', rel='stylesheet')
link(href='libs/jquery-ui-1.12.1.custom/jquery-ui.min.css', rel='stylesheet')
link(href='css/main.css', rel='stylesheet')


