@import "../components/vars"

.top-section
    background: url("../img/top_bg.png") no-repeat center
    background-size: cover
    padding-bottom: 175px
    position: relative
    z-index: 1
    header
        margin-bottom: 20px
        ul.wrap
            padding-top: 35px
            max-width: 143px
            float: left
            color: #fff
            font-size: 14px
            margin-right: 35px
            li
                line-height: 1.3
                a
                    color: #fff
                    line-height: 1.3
                    b
                        margin-left: 3px
                        font-weight: 700
    .logo
        float: left
        width: 180px
        height: 132px
        margin-right: 20px
        background: url("../img/logo.png") no-repeat center
        background-size: cover
    .phone-wrapper
        float: left
.hidden-text
    display: none

.preview-wrapper
    .wrap, .team-wrap
        color: #fff
        width: 51%
        float: left
        &:nth-of-type(2)
            padding-left: 10px
            width: 49%
        h1
            padding-left: 20px
            font-size: 63px
            font-weight: 700
            line-height: 1
        h2
            font-size: 70px
            font-weight: 800
            line-height: 1
            margin-bottom: 25px
        p
            line-height: 1
            padding-top: 11px
            font-size: 40px
            font-weight: bold
    .img-wrap
        float: left
        margin-bottom: 20px
        width: 85px
        margin-right: 15px
        &:nth-of-type(2)
            margin-right: 30px
        img
            display: block
    .text-wrap
        float: left
        p
            padding: 0
            max-width: 275px
            font-size: 26px
            line-height: 30px
            font-weight: normal

.team-wrap
    float: right !important

.form-section
    position: relative
    z-index: 2
    .container
        position: relative
    .girl
        z-index: 1
        position: absolute
        left: 50px
        bottom: -138px
    .text-wrap
        margin-right: 134px
        width: 430px
        float: right
        clear: both
        color: #622f6b
        strong
            line-height: 1
            font-size: 75px
            float: left
            margin-right: 9px
        .text
            text-transform: uppercase
            overflow: hidden
            font-size: 26px
            font-weight: bold
            b
                display: block
                font-weight: 900
    .form-wrap
        position: relative
        z-index: 2
        height: 347px
        margin-right: 134px
        margin-top: -45px
        box-shadow: 0 2px 7px 0 rgba(25, 30, 32, 0.75)
        width: 430px
        float: right
        border-radius: 5px
        background: #fff
        padding: 15px
        margin-bottom: 30px
        .border-wrap
            height: 100%
            padding: 35px 30px 30px
            border: 1px dashed #000
    .birth-wrap
        span
            display: block
            float: left
            line-height: 40px
            font-size: 14px
            color: #707070
        input
            text-align: center
            width: 165px
            float: right
    .invalid-block, .valid-block
        display: none
        color: #ff0000
        font-size: 20px
        font-weight: bold
        text-align: center
        height: 100%
        .invalid-border, .valid-border
            border-radius: 20px
            height: 100%
            padding-top: 90px
            border: 2px solid #ff0000
    .valid-block
        color: #72bf44
        .valid-border
            border-color: #72bf44
    .code-block
        display: none
        height: 100%
        line-height: 250px
        font-size: 40px
        color: #000
        text-align: center

.bottom-section
    background: url("../img/bottom_bg.png") center no-repeat
    background-size: cover
    height: 200px
    position: relative
    z-index: 3

@media screen and (max-width: 1600px)
    .top-section
        padding-bottom: 75px
    .bottom-section
        height: 165px

@media screen and (max-width: 1200px)
    .preview-wrapper
        .wrap h1
            text-align: right
            font-size: 58px

@media screen and (max-width: 1105px)
    .preview-wrapper
        .wrap
            display: none
    .hidden-text
        display: block

        color: #fff
        text-align: center
        max-width: 768px
        margin: 0 auto 40px
        h2
            font-weight: normal
            font-size: 35px
        span
            font-size: 40px
            display: block
            font-weight: bold
            text-transform: uppercase
    .girl
        transform: scale(0.75)
        left: 0
        bottom: -165px

@media screen and (max-width: 1024px)
    .girl
        display: none
    .preview-wrapper .team-wrap
        max-width: 500px
        width: auto
        margin: 0 auto 30px
        float: none !important
    .form-section
        .form-wrap
            width: auto
            max-width: 430px
            margin: 0 auto 30px
            float: none
        .text-wrap
            width: auto
            max-width: 430px
            margin: 0 auto 30px
            float: none

@media screen and (max-width: 640px)
    .hidden-text h2
        font-size: 22px
    .form-btn
        height: 35px
        font-size: 22px
    .form-section
        .form-wrap .border-wrap
            padding: 15px 10px 10px
        .birth-wrap
            span
                float: none
                display: block
            input
                width: 100%
                margin-bottom: 20px
        .text-wrap
            max-width: 245px
            strong
                font-size: 60px
            .text
                font-size: 20px
        input
            font-size: 16px
@media screen and (max-width: 570px)
    .phone-wrapper
        display: none
    .top-section .logo
        float: none
        margin: 0 auto
        display: block
@media screen and (max-width: 525px)
    .team-wrap
        text-align: center
        .img-wrap
            display: inline-block
            margin: 0 5px 10px
            float: none
        .text-wrap
            float: none
            p
                max-width: none
                b
                    display: block