extends ./components/layout.jade

block title
    title Football | Homepage

block content
    section.top-section
        header
            .container.clearfix
                a(href='#').logo
                .phone-wrapper.clearfix
                    ul.reset.wrap
                        li г. Харьков, пл. Восстания, 7/8
                        li
                            a(href='tel:+380664026544') +38 (066)
                                b 402-65-44
                        li
                            a(href='tel:+380683315163') +38 (068)
                                b 331-51-63
                    ul.reset.wrap
                        li г. Харьков, ул. Полтавский шлях, 40
                        li
                            a(href='tel:+380964497499') +38 (096)
                                b 449-74-99
                        li
                            a(href='tel:+380668395233') +38 (066)
                                b 839-52-33
                    ul.reset.wrap
                        li г. Харьков, ул. Чернышевская, 63Д
                        li
                            a(href='tel:+380668395233') +38 (066)
                                b 839-52-33
        .preview-wrapper.clearfix
            .container
                .hidden-text
                    h2 Заполни анкету и участвуй в розыгрыше билета на
                        span ЧЕМПИОНАТ МИРА!
                .wrap
                    h1 Заполни анкету
                .wrap
                    p и участвуй<br>в розыгрыше билета на
                    h2 ЧЕМПИОНАТ МИРА!
                .team-wrap.clearfix
                    .img-wrap
                        img(src='img/ukraine_flag.png' alt='ukraine')
                    .img-wrap
                        img(src='img/turkey_flag.png' alt='turkey')
                    .text-wrap
                        p <b>Украина-Турция</b> стадион «Металлист» 2 сентября 2017 года
    section.form-section
        .container.clearfix
            .img-wrap.girl
                img(src='img/girl.png' alt='girl')
            .form-wrap
                .border-wrap
                    form#mainForm
                        .input-wrap
                            input(type='text' name='userName' placeholder='Ваше имя')
                        .input-wrap
                            input(type='text' name='userPhone' placeholder='Ваш номер телефона')
                        .input-wrap
                            input(type='text' name='userPhone' placeholder='Ваш E-mail')
                        .input-wrap.birth-wrap
                            span Дата вашего рождения:
                            input#datepicker(type='text' name='userBirthDate' placeholder='__.__.____')
                        button(type='submit').form-btn Отправить
                    .valid-block
                        .valid-border
                            p.
                                Спасибо!<br>
                                Мы свяжемся с Вами<br>
                                в ближайшее время!
                    .invalid-block
                        .invalid-border
                            p.
                                Заполните,<br>
                                пожалуйста,<br>
                                все поля.
                    .code-block
                        strong 47TEL56SM12
            .text-wrap
                strong +15
                .text минут <b>бесплатно</b> к любому массажу в августе!
    section.bottom-section
